@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Raleway&display=swap');

/* Variables */
:root {
  --red: #EF476F;
  --red-light: #FCD5CE;
  --green: #06D6A0;
  --yellow: #fbc64b;
  --blue: #118AB2;
  --blue-dark: #073B4C;
  --light: #F8EDEB;
  --dark: #333333;
  --transition: 0.2s ease all;
}

/* General styles */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: var(--dark);
  line-height: 1.5;
  background: var(--light);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 87.5rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

h1,
h2,
h3 {
  font-family: 'Raleway', sans-serif;
  line-height: 1.2;
  font-weight: 400;
  margin-top: 0;
}

h1,
h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  margin-top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 2rem;
}

.hero-text,
.content-text {
  max-width: 35rem;
  padding-right: 2rem;
}

.irina {
  margin-left: auto;
  max-width: 30vw;
  align-self: flex-end;
}

.hero {
  background-color: var(--red-light);
  padding-top: 4rem;
  margin-bottom: 4rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

/* Hero background */
.hero:after {
  content: '';
  background-image: url('../img/hero-bottom.svg');
  background-repeat: repeat-x;
  background-position: bottom;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

.hero-container {
  display: flex;
  z-index: 1;
}

.hero-text {
  flex: 1;
  padding-bottom: 8rem;
}

.hero-info-item {
  display: flex;
  align-items: baseline;
  margin-bottom: 1rem;
  align-items: start;
}

.hero-icon {
  margin-right: 1rem;
}

.hero-info-item a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--dark);
  transition: var(--transition);
}

.hero-info-item a:hover,
.hero-info-itemm a:focus {
  color: var(--red);
}

.content {
  display: flex;
}

.experience-item {
  margin-bottom: 3rem;
}

.experience-company {
  margin-bottom: 0;
}

.experience-date {
  font-weight: 700;
}

.experience-desc {
  margin-bottom: 0;
}

/* Cat figure */
.hero-cat {
  align-self: flex-end;
  margin-left: auto;
  position: relative;
  z-index: -1;
  transform: translateY(100%);
  animation: catAppear 2s linear forwards;
  animation-delay: 1s;
}

/* Cat paw */
.hero-cat:before {
  content: '';
  background: var(--yellow);
  width: 1.25rem;
  height: 5rem;
  position: absolute;
  left: -1rem;
  top: 1.5rem;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  transform: rotate(-45deg);
  animation: catWave 3s infinite linear;
  animation-delay: 3.5s;
}

.cat-body {
  width: 6rem;
  height: 10rem;
  background: var(--yellow);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  transform: perspective(10rem) rotateX(10deg);
  position: relative;
}

/* Cat ears */
.cat-body:before,
.cat-body:after {
  content: '';
  position: absolute;
  top: -2rem;
  border-top: 2rem solid transparent;
}

.cat-body:before {
  left: 0;
  border-left: 2rem solid var(--yellow);
}

.cat-body:after {
  right: 0;
  border-right: 2rem solid var(--yellow);
}

.cat-face {
  position: absolute;
  top: 2rem;
  left: 0;
  right: 0;
  margin: auto;
  width: 3rem;
  height: 1.75rem;
  display: flex;
  justify-content: space-between;
}

/* Cat eyes */
.cat-face:before,
.cat-face:after {
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  background: var(--blue);
  border-radius: 50%;
}

.cat-face:after {
  transform: scaleY(1);
  animation: catBlink 6s infinite linear;
  animation-delay: 4s;
}

.cat-nose {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: var(--dark);
  align-self: flex-end;
  position: relative;
}

/* Cat whiskers */
.cat-nose:before,
.cat-nose:after {
  content: '';
  position: absolute;
  width: 1.25rem;
  height: 0.25rem;
  border-top: 1px solid var(--dark);
  border-bottom: 1px solid var(--dark);
  top: 50%;
}

.cat-nose:before {
  left: -0.25rem;
  transform: translateY(-50%) translateX(-100%);
}

.cat-nose:after {
  right: -0.25rem;
  transform: translateY(-50%) translateX(100%);
}

@media only screen and (max-width: 992px) {
  ul {
    padding-left: 0;
  }
}

@media only screen and (max-width: 768px) {

  .hero-container,
  .content {
    flex-direction: column;
  }

  .hero-text,
  .content-text {
    padding-right: 0;
  }

  .hero-text {
    padding-bottom: 3rem;
  }

  .irina {
    max-width: 18rem;
  }

}

@media only screen and (max-width: 768px) {

  h1,
  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  h1,
  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }
}

@keyframes catBlink {

  45%,
  55% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(0.1);
  }
}

@keyframes catAppear {

  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes catWave {

  0%,
  100% {
    transform: rotate(-45deg);
  }

  50% {
    transform: rotate(-30deg);
  }
}